:root {
  --primary-color: #470938;
  --secondary-color: #5c94bd;
  --font-color: black;
  --bg-color: #f2d6eb;
  --heading-color: #1a3e59;
}

[data-theme="dark"] {
  --primary-color: #ff0000;
  --secondary-color: #1a3e59;
  --font-color: #f2d6eb;
  --bg-color: #252525;
  --heading-color: #414141;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  float: right;
  margin: 0.2rem 30vh 0.1rem 1vh;
  color: #af0404;
  align-items: center;

}

.theme-switch-wrapper em {
  font-size: 1rem;
  display: inline-block;
  margin-right: 15vh;
  padding: 0.25rem 0rem 0.1rem 3.5rem;
  text-align: center;
  color: #f2d6eb;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #f2d6eb;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #5c94bd;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #1a3e59;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav {
  top: 0; /* Position the navbar at the top of the page */
  z-index: 50;
  border-bottom-style: solid;
  border-bottom-color: var(--font-color);
  border-bottom-width: 1px;
  position:fixed;
  width: 100%;
  background-color: #333333;
  text-shadow: 0.05rem 0.05rem black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  opacity: 0.9;
}

.drop-arrow {
  margin-top: -1rem;
  height: 1rem;
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
  opacity: 0.8;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  20%, 100% {
    opacity: 0;
    transform: translate(0, 0.5rem);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes mymove {
  20%, 100% {
    opacity: 0;
    transform: translate(0, 0.5rem);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.menu {
  list-style-type: none;
  margin: 0 0rem;
  padding: 0;
}

li {
  float: left;
  padding: 0px 0px;
}

li a, .dropbtn {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 2rem;
  text-align: center;
  border-right: solid 1px var(--font-color);
  color: #5c94bd;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
}

li a:hover, .dropdown:hover .dropbtn, .current-page-btn {
  background-color:  var(--heading-color);
  color: #5c94bd;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border: solid #003333;
  border-width: 0px 1px 1px 1px;
  border-radius: 1rem;
  text-shadow: 0rem 0rem #003333;
}

.dropdown-content a {
  margin: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
  border-radius: 1rem;
  color: #5c94bd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--heading-color);
  border-bottom: solid 0.01vh var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.index-transition-to-light {
  display:block;
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(var(--heading-color), var(--bg-color));
}

.index-transition-to-dark {
  display:block;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(var(--bg-color), var(--heading-color));
}

.que-arrow {
  margin-top: -5vh;
  width: 20%;
  opacity: 0.8;
  -webkit-animation: quearrow 5s infinite; /* Safari 4.0 - 8.0 */
  animation: quearrow 5s infinite;
  color: #5c94bd;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes quearrow {
  20%, 100% {
    opacity: 0;
    transform: translate(0, 20vh);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes quearrow {
  20%, 100% {
    opacity: 0;
    transform: translate(0, 20vh);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.index-transition-to-dark {
  display:block;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(var(--bg-color), var(--heading-color));
}

.heading {
  width: 100%;
  height: 20vh;
  text-align: center;
  background-color: var(--heading-color);
}

#main-table {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
#main-table td:first-child {
  width: 100%;
  padding-left:2%;
}

#stats-table {
  color: var(--font-color);
  margin: -5rem 5rem 0;
  border: 3px solid var(--font-color);
  border-radius: 7.5px;

}
#stats-table th, #stats-table td {
  border-bottom: 1px solid var(--font-color);
  padding: 0.5rem 1rem;
}
#stats-table tr:last-child td {
  border-bottom: 1px;
}
#stats-table tr:nth-child(even) {
  background-color: var(--heading-color);
  color: #f2d6eb;
}
#stats-table tr:hover td {
  background-color: var(--secondary-color);
}

#stats-table {
  display: block;
}

#geoguessr-page {
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
  margin-top: -5vh;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-weight:bold;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--heading-color);
}

.main {
  width: 100%;
  margin: 0 auto;
}
